
/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation Bar: Logo and Image */
#logo{
margin: 10px 34px;
}
#logo img{
    height: 59px;
margin: 3px 6px;
}
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
    
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 432px;
    justify-content: center;
    align-items: center;
    color: black;
}
#home::before{
    content: "";
    position: absolute;
    background: url(bg3.jpg) no-repeat center center/cover;
    background-repeat: round;
    height: 500px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    

}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 25px;
    border-radius: 23px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family:'Baloo Bhai 2', cursive ;
}

/* Clients Section */
#client-section{
    /* position: relative; */
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(bg9.jpg);
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 30px;

}
#clients img{
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact ::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(con.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Baloo Bhai 2', cursive ;


}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility class */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Baloo Bhai 2', cursive;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Baloo Bhai 2', cursive;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: pointer;
}
.center{
    text-align: center;
}